<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta http-equiv="refresh" content="7;url=/addStockUser/hello">
    <title>江门联通5G</title>

    <style type="text/css">
        p{
            color:black;
            font-size: 15px;
        }
        span{
            color:blue;
            font-size: 15px;
        }
    </style>
</head>
<body>

<p id="Font" >&ensp;&ensp; 对不起，您不是特邀用户，暂不符合资格参与，更多5G优惠可登陆<a href="https://u.10010.cn/qAjuE">https://u.10010.cn/qAjuE</a>
    了解或亲临我司营业厅咨询，谢谢您的支持!
</p>
</body>
</html>
