<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>江门联通5G</title>
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- thymeleaf导入静态资源，加上“/”表示绝对路径 -->
    <script th:src="@{/js/jquery.form.js}"></script><!--不能放在jquery.min.js前面-->
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>


    <script  th:src="@{/js/jBox/jquery.min.js}"></script>
    <script  th:src="@{/js/jBox/jquery.jBox-2.3.min.js}"></script>
    <script  th:src="@{/js/jBox/jquery.jBox-zh-CN.js}"></script>

    <link  th:rel="stylesheet" th:href="@{/js/jBox/Skins2/Blue/jbox.css}"/>

    <style type="text/css">
        span{
            color:blue;
            font-size: 15px;
        }
        img{
            width:100%;
            height:auto;
        }

    </style>

</head>
<body>
<form action="/sdgdrh/sdgerhger"  method="post" id="isOk">
    <div >
<!--        <img th:src="@{/js/images/image1.jpg}" width="350px" height="150px" >-->
        <img th:src="@{/js/images/image1.jpg}"  >

    </div>
    <div>
        <input type="hidden" id="serialNumber" class="serialNumber" name="serialNumber" th:value="${serialNumber}" >
    </div>


    </div>
<!--        <img th:src="@{/js/images/image2.jpg}" width="350px" height="200px">-->
        <img th:src="@{/js/images/image2.jpg}">
    </div>
    <div>

        <span >  &ensp;&ensp; 尊敬的<span th:text="${serialNumber}"></span>客户，您符合本次活动的条件，请您点击以下按钮确认是否参加活动</span>
    </div>
       <!-- <button id="submit1" onclick="test()" type="button">同意</button>--> <!--方法二-->
    <div style="text-align:center;vertical-align:middle;">
<!--        <button id="submit1"  type="button">同意</button>&lt;!&ndash;方法一&ndash;&gt;-->
        <button id="submit1" onclick="test()" type="button">同意</button>
         <button id="submit4" onclick="testNo()" type="button">不同意</button> <!--方法二-->
         <button id="submit5" onclick="testDe()" type="button">取消</button> <!--方法二-->
    </div>

</form>

<!--<form action="/sdgdrh/gfhasnmk"  method="post" id="isNO">-->

<!--    <div>-->
<!--        <input type="hidden" id="serialNumber1" class="serialNumber" name="serialNumber" th:value="${serialNumber}" >-->
<!--    </div>-->
<!--    <div>-->
<!--        <button id="submit2" type="submit">不同意</button>-->
<!--    </div>-->

<!--</form>-->

<!--<form action="/sdgdrh/beysdjkio"  method="post" id="delete">-->

<!--    <div>-->
<!--        <input type="hidden" id="serialNumber2" class="serialNumber" name="serialNumber" th:value="${serialNumber}" >-->
<!--    </div>-->
<!--    <div>-->
<!--        <button id="submit3" type="submit">取消</button>-->
<!--    </div>-->

<!--</form>-->
</body>




<!--方法一-->
<script type="text/javascript">
    $(function () {
        //
        $("#submit1").click(function () {
            $("#isOk").ajaxSubmit(function (message) {
                console.log(message);
                var flag = message.flg;
                var msgContent = message.msgContent;
                if (flag ==="0"){
                    alert(msgContent);

                    location.href="/addStockUser/hello";

                }
                if (flag ==="1"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";


                }
                if (flag ==="2"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";

                }
                if (flag ==="3"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";

                }
                if (flag ==="4"){
                    alert(msgContent);
                   // $("#phoneNumber").val("");
                    location.href="/addStockUser/hello";

                }
                return false;

            })
        })
    })

</script>

<!--方法二-->
<script type="text/javascript">

    function test(){
        var serialNumber = $("#serialNumber").val();
        $.ajax({
            type:'post',
            url:'/sdgdrh/sdgerhger',
            dataType:'json',
            // data:$("#isOk").serialize(),   //表单提交，如果包含多个字段，后台拿一个object接收或者map接收
            //逐个字段提交，如果包含多个字段，后台可以逐个字段接收，或者map接收
            data:{//非表单提交，列举所有字段
                'serialNumber':serialNumber,
            },
            success:function (message) {
                //console.log(data);
                console.log(message);
                var flag = message.flg;
                var msgContent = message.msgContent;
                if (flag ==="0"){
                    alert(msgContent);

                    location.href="/addStockUser/hello";

                }
                if (flag ==="1"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";


                }
                if (flag ==="2"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";

                }
                if (flag ==="3"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";

                }
                if (flag ==="4"){
                    alert(msgContent);
                    // $("#phoneNumber").val("");
                    location.href="/addStockUser/hello";

                }
                return false;
            }
        })



    }

</script>

<!--方法二-->
<script type="text/javascript">

        function testNo(){
            var serialNumber = $("#serialNumber").val();
            $.ajax({
                type:'post',
                url:'/sdgdrh/gfhasnmk',
                dataType:'json',
               // data:$("#isOk").serialize(),   //表单提交，如果包含多个字段，后台拿一个object接收或者map接收
                //逐个字段提交，如果包含多个字段，后台可以逐个字段接收，或者map接收
                data:{//非表单提交，列举所有字段
                    'serialNumber':serialNumber,
                 },
                success:function (message) {
                    //console.log(data);
                    console.log(message);
                    var flag = message.flg;
                    var msgContent = message.msgContent;
                    if (flag ==="0"){
                        alert(msgContent);

                        location.href="/addStockUser/hello";

                    }
                    if (flag ==="1"){
                    //    alert(msgContent);
                        // 此例省略了前缀html:，前缀标识是不区分大小写的，也可以是HTML:
                        var info = msgContent;
                       // title: "百度一下",
                        info += '更多5G优惠请登录：<a target="_blank" href="https://u.10010.cn/qAjuE">https://u.10010.cn/qAjuE</a>';
                       // $.jBox.info(info)
                        var submit = function (v, h, f) {

                            return true;
                        };

                        $.jBox(info, { title: "江门联通5G", submit: submit });


                      //  location.href="https://u.10010.cn/qAjuE";


                    }
                    if (flag ==="2"){
                        alert(msgContent);
                        location.href="/addStockUser/hello";

                    }
                    if (flag ==="3"){
                        alert(msgContent);
                        location.href="/addStockUser/hello";

                    }
                    if (flag ==="4"){
                        alert(msgContent);
                     //   $("#phoneNumber").val("");
                      // location.href="https://u.10010.cn/qAjuE";

                    }
                    return false;
                }
            })



        }

</script>

<script type="text/javascript">

    function testDe(){
        var serialNumber = $("#serialNumber").val();
        $.ajax({
            type:'post',
            url:'/sdgdrh/beysdjkio',
            dataType:'json',
            // data:$("#isOk").serialize(),   //表单提交，如果包含多个字段，后台拿一个object接收或者map接收
            //逐个字段提交，如果包含多个字段，后台可以逐个字段接收，或者map接收
            data:{//非表单提交，列举所有字段
                'serialNumber':serialNumber,
            },
            success:function (message) {
                //console.log(data);
                console.log(message);
                var flag = message.flg;
                var msgContent = message.msgContent;
                if (flag ==="0"){
                    alert(msgContent);

                    location.href="/addStockUser/hello";

                }
                if (flag ==="1"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";


                }
                if (flag ==="2"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";

                }
                if (flag ==="3"){
                    alert(msgContent);
                    location.href="/addStockUser/hello";

                }
                if (flag ==="4"){
                    alert(msgContent);
                  //  $("#phoneNumber").val("");
                  //  location.href="/addStockUser/hello";

                }
                return false;
            }
        })



    }

</script>

</html>
